.Home{
    .ant-layout-content{
        height:100vh;
    }
    .ant-layout-header{
        display:flex;
        justify-content: space-between;
        .left-header{
            img{
                width:120px;
                height:60px;
            }
        }
        .center-header{
            .ant-radio-button-wrapper-checked{
                color:#1890ff;
                box-shadow: unset;
            }
            label{
                background:#001529;
                padding:0px 28px;
                border:0;
                color:white;
                &:hover{
                    color:#1890ff;
                }
                &:before{
                    border:0;
                    padding:unset;
                    width:unset;
                }
            }
        }
    }
    .ant-layout-footer{
        height:50px;
        padding:0px;
        text-align:center;
        line-height: 50px;
    }   
}
.home-release{
    .content{
        .ant-radio-group{
            margin-left:148px;
        }
    }
}

